<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>MINI_PROJECT</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>User_controller</display-name>
    <servlet-name>User_controller</servlet-name>
    <servlet-class>user_cotrol.User_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_controller</servlet-name>
    <url-pattern>/User_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_controller</display-name>
    <servlet-name>Admin_controller</servlet-name>
    <servlet-class>admin_contol.Admin_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_controller</servlet-name>
    <url-pattern>/Admin_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_dao</display-name>
    <servlet-name>Login_dao</servlet-name>
    <servlet-class>login_DAO.Login_dao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_dao</servlet-name>
    <url-pattern>/Login_dao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registration_control</display-name>
    <servlet-name>registration_control</servlet-name>
    <servlet-class>Registration.registration_control</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration_control</servlet-name>
    <url-pattern>/registration_control</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>UPDATE.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Messchanges</display-name>
    <servlet-name>Messchanges</servlet-name>
    <servlet-class>mess.Messchanges</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messchanges</servlet-name>
    <url-pattern>/Messchanges</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Remove</display-name>
    <servlet-name>Remove</servlet-name>
    <servlet-class>remove.Remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove</servlet-name>
    <url-pattern>/Remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feesupdate</display-name>
    <servlet-name>Feesupdate</servlet-name>
    <servlet-class>feeupdate.Feesupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feesupdate</servlet-name>
    <url-pattern>/Feesupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cheach</display-name>
    <servlet-name>Cheach</servlet-name>
    <servlet-class>cheaking.Cheach</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cheach</servlet-name>
    <url-pattern>/Cheach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>feedback.Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
</web-app>